*{
  font-family: Palatino;
}

header{
  background: no-repeat center center;
  background-size: cover;
  background-color: #FEFEFE;
}

.color-overlay{
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 60vh;
}

.singleCol{
  max-width: 750px;
  background-color: #DAD3C9;
}

.profile.png{
  border: 15px solid #4E3622;
  border-radius: 174px;
}
a.nav-link{
  font: 20px;
  color: #4E3622;
}

a.nav-link:hover{
  color: #4E3622;
}
.navvy{
  background-color: ##FEFEFE;
}

.navbar-light,
.navbar-toggler{
  border-color: #DAD3C9;
  color: #DAD3C9;
}

.navbar-light,
.navbar-toggler:hover{
  border-color: #4E3622;
  color: #4E3622;
}

.btn-outline-dark{
  background-color: #AAA39B;
  align-items: center;
}

.btn-outline-dark:hover{
  background-color: #4E3622;
  color: #DAD3C9;
}

footer{
  height: 0px;
  background-color: #4E3622;
}

footer a{
    color:#35271E;
}

footer a:hover{
    color: #dfdfdf;
}
@media (max-width:768.98px){
  .color-overlay{
      (min-width: 30vh);
  }
}
