header{
  background: no-repeat center center;
  background-size: cover;
  color: #FEFEFE;
}

body{
  background-color: #FEFEFE;
}

.color-overlay{
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 60vh;
}

.singleCol{
  max-width: 750px;
  background-color: #DAD3C9;
}

.navvy{
  background-color: ##FEFEFE;
}

.navbar-light,
.navbar-toggler{
  //border-color: #DAD3C9;//
  color: #DAD3C9;
}

.navbar-light,
.navbar-toggler:hover{
  border-color: #4E3622;
  color: #4E3622;
}

.btn-outline-dark{
  background-color: #AAA39B;
}

.btn-outline-dark:hover{
  background-color: #4E3622;
  color: #DAD3C9;
}

footer{
  background-color: #4E3622;
  //display: flex;//
}

footer a{
    color:#dfdfdf;
}

footer a:hover{
    color: #35271E;
}

@media (max-width:768.98px){
  .color-overlay{
      (min-width: 30vh);
  }
}
